*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 16px;
    
}
.outer-container{
        min-width: 100%; /* Or another relative unit or fixed value */
        max-width: 1200px; /* Maximum width for larger screens */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px; /* Add some spacing around the container */
        overflow: auto; /* Enable scrollbars if content overflows */
        min-height: 100vh; /* Limit the container's height to 80% of viewport height */
        /* Other styling properties */
        background-image: linear-gradient(to bottom right, #132743, #132743,#385170);

}

.outer-container > h{
    align-self: center;
    
}

hr{
    border: solid #9fd3c7 0.1rem;
    width: 20vw;
}

h{
    display: block;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
    
}

h1{
    letter-spacing: 3.5rem;
    font-style: italic;
    margin: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

    background: linear-gradient(to right, #358fd8, #ffffff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

p2{
    margin-top: 15em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

p{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0.5em;
    margin-left: 0;
}
